/*\006d\0061\0072\006b\6a23\5f0f*/
\006d\0061\0072\006b {
    \0062\0061\0063\006b\0067\0072\006f\0075\006e\0064: linear-gradient(transparent 60%, #ffff66 0);
  }

/* \539f\59cb\6a23\5f0f */
.\0063\006f\006d\006d\0065\006e\0074 {
    \0070\006f\0073\0069\0074\0069\006f\006e: relative;
    \0064\0069\0073\0070\006c\0061\0079: inline-block;
}

/* \9690\85cf \0063\0068\0065\0063\006b\0062\006f\0078 */
.\0063\006f\006d\006d\0065\006e\0074-\0074\006f\0067\0067\006c\0065 {
    \0064\0069\0073\0070\006c\0061\0079: none;
}

/* \6587\672c\6a23\5f0f */
.\0063\006f\006d\006d\0065\006e\0074-\0074\0065\0078\0074 {
    \0063\006f\006c\006f\0072: #3498db;
    \0063\0075\0072\0073\006f\0072: pointer;
    \0070\006f\0073\0069\0074\0069\006f\006e: relative;
    \007a-\0069\006e\0064\0065\0078: 1;
}

/* \7bad\982d\6a23\5f0f */
.\0063\006f\006d\006d\0065\006e\0074-\0074\0065\0078\0074::before {
    content: "▼";
    \0066\006c\006f\0061\0074: right; /* \5c07\7bad\982d\6d6e\52d5\5230\53f3\5074 */
    \0074\0072\0061\006e\0073\0069\0074\0069\006f\006e: transform 0.3s ease-in-out;
    \0064\0069\0073\0070\006c\0061\0079: inline-block;
    \0076\0065\0072\0074\0069\0063\0061\006c-\0061\006c\0069\0067\006e: middle;
    \0074\006f\0070: -1px; /* \8abf\6574\5782\76f4\4f4d\7f6e\4ee5\8207\6587\672c\5c0d\9f4a */
}
/* \5167\5bb9\521d\59cb\72c0\614b */
.\0063\006f\006d\006d\0065\006e\0074-\0063\006f\006e\0074\0065\006e\0074 {
    \0064\0069\0073\0070\006c\0061\0079: none;
    \0070\006f\0073\0069\0074\0069\006f\006e: absolute;
    \0077\0069\0064\0074\0068: 200px;
    \0062\006f\0072\0064\0065\0072-\0072\0061\0064\0069\0075\0073: 50px;
    \0062\0061\0063\006b\0067\0072\006f\0075\006e\0064-\0063\006f\006c\006f\0072: #f9f9f9;
    \0062\006f\0072\0064\0065\0072-\0074\006f\0070: 2px solid #4dbed0;
    \0070\0061\0064\0064\0069\006e\0067: 10px;
    \0062\006f\0072\0064\0065\0072-\0072\0061\0064\0069\0075\0073: 5px;
    \006f\0070\0061\0063\0069\0074\0079: 0;
    \007a-\0069\006e\0064\0065\0078: 0;
    \0074\0072\0061\006e\0073\0069\0074\0069\006f\006e: opacity 0.3s ease-in-out;
    \0062\006f\0078-\0073\0068\0061\0064\006f\0077:5px 5px 10px #888;
    \0066\006f\006e\0074-\0066\0061\006d\0069\006c\0079:"cwTeXYen";
}

/* \9ede\64ca\78ba\8a8d */
.\0063\006f\006d\006d\0065\006e\0074-\0074\006f\0067\0067\006c\0065:checked + .comment-text + .comment-content {
    display: block;
    \006f\0070\0061\0063\0069\0074\0079: 1;
    \0074\006f\0070: 100%;
    \006c\0065\0066\0074: 0;
}

/* \65cb\8f49\7bad\982d */
.\0063\006f\006d\006d\0065\006e\0074-\0074\006f\0067\0067\006c\0065:checked + .comment-text::before {
    transform: rotate(180deg);
}
.\0063\006f\006d\006d\0065\0074-\0063\006f\006e\0074\0065\006e\0074{
 \0063\006f\006c\006f\0072:#3495CB;
 \0066\006f\006e\0074-\0066\0061\006d\0069\006c\0079:"cwTeXYen";
}